<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadOut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReadOut.Properties.Settings>
            <setting name="ConversationAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConversationReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtendedHeader" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipRelatedItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SeparateWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </ReadOut.Properties.Settings>
    </userSettings>
</configuration>